@model ProyectoIdentity.Models.ViewModels.RecuperaPasswordViewModel

@{
	ViewData["Title"] = "Recuperación de Contraseña";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
	<div class="card-body">
		<h3 class="card-title text-center">Recuperar contraseña</h3>
		<form asp-controller="Cuentas" asp-action="ResetPassword" method="post">
		<div class="text-danger" asp-validation-summary="All"></div>

			<div class="row mt-4">

				<div class="col-sm-6 offset-3">

					<div class="mb-3">
						<label asp-for="Email" class="col-md-4"></label>
						<input asp-for="Email" class="form-control" placeholder="Correo*" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label asp-for="Password" class="col-md-3"></label>
						<input asp-for="Password" class="form-control" placeholder="Contraseña nueva*" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label asp-for="ConfirmedPassword" class="col-md-4"></label>
						<input asp-for="ConfirmedPassword" class="form-control" placeholder="Repita la contraseña*" />
						<span asp-validation-for="ConfirmedPassword" class="text-danger"></span>
					</div>


				</div>

				<div class="row">
					<div class="col-sm-10 offset-2">
						<button type="submit" class="btn btn-success w-75 btn-lg">Recuperar Contraseña <i class="bi bi-arrow-right-square-fill"></i></button>
					</div>
				</div>

			</div>

		</form>
	</div>
</div>

@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}